<div itemscope itemtype=”http://schema.org/Event”>
    <a itemprop=”url”
       href="{{ absolute_url(path('mezcalendar_event_view',{'slug':event.slug})) }}">
        <span itemprop=”name”>{{ event.title }}</span>
    </a>
    <div itemprop=”description”>
        {{ event.abstract }}
    </div>
    <meta itemprop=”startDate” content=”{{ event.start|date() }}”>
    <strong>Empieza:</strong> {{ event.start|date }}<br/>
    <meta itemprop=”endDate” content=”{{ event.end|date() }}”>
    <strong>Termina:</strong> {{ event.end|date }}<br/>

    <div itemprop=”location” itemscope itemtype=”http://schema.org/Place”>
        <div itemprop=”address” itemscope itemtype=”http://schema.org/PostalAddress”>
            <strong>Lugar:</strong> <span itemprop=”streetAddress”>{{ event.address }}</span>
        </div>
    </div>
</div>

{{ include('JagueroMezCalendarBundle:Default:mapStatic.html.twig',{'address':event}) }}