{% extends "AppBundle::frontend.html.twig" %}

{% block body %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>{{ event.title }}</h1>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="ion-ios-home"></i>
                                    Inicio
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('homepage') }}calendario">
                                    <i class="ion-ios-calendar"></i>
                                    Calendario
                                </a>
                            </li>
                            <li class="active">{{ event.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div style="margin-bottom: 40px">
                        {{ event.content|raw }}
                    </div>

                    <div class="fb-share-button"
                         data-href="{{ absolute_url(path('mezcalendar_event_view',{'slug':event.slug})) }}"
                         data-layout="button_count">
                    </div>
                    <hr>

                    <div class="fb-comments"
                         data-href="{{ absolute_url(path('mezcalendar_event_view',{'slug':event.slug})) }}"
                         data-numposts="5"></div>

                </div>
                <div class="col-md-4">
                    <div>
                        <img src="{{ asset(event.image) }}" class="img-responsive">
                    </div>
                    <div>
                        <h3>¿Cuándo y dónde?</h3>

                        {{ include('JagueroMezCalendarBundle:Default:event_tmpl.html.twig',{'address':event}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}