<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ address.address?address.address:'Argentina' }}&markers=color:blue%7C{{ address.latitude }},{{ address.longitude }}&zoom=13&size=350x300&type=roadmap&key={{ google_maps_api_key }}" class="img-responsive">