<ul class="list-unstyled mezcal-event-list">
    {% for event in events %}
        <li>
            {{ include('JagueroMezCalendarBundle:Default:event_row.html.twig',{'address':event}) }}
        </li>
    {% endfor %}
</ul>