{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Event'}, 'Event') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('admin_mezcalendar_event_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Event') }}
                    <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('admin_mezcalendar_event_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Event') }}
                    <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_mezcalendar_event_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Event') }}
                <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}


{% block body %}
    <section class="content-header">
        <h1>
            {{ '%entity% list'|trans({'%entity%': 'Event'}, 'Event') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right"><a class="btn btn-link btn-sm"
                                                     href={{ path('admin_mezcalendar_event_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Event'}, 'Event') }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover records_list table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">{{ thead('event', 'title', 'Title') }}</th>
                        <th scope="col">{{ thead('event', 'allDay', 'Allday') }}</th>
                        <th scope="col">{{ thead('event', 'start', 'Start') }}</th>
                        <th scope="col">{{ thead('event', 'end', 'End') }}</th>
                        <th scope="col">{{ thead('event', 'abstract', 'Abstract') }}</th>
                        <th scope="col">{{ thead('event', 'enabled', 'Enabled') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in paginator %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_mezcalendar_event_show', {id: event.id}) }}">{{ event.title }}</a>
                            </td>
                            <td>{% if event.allDay %}<i class="fa fa-check-square-o"></i>{% else %}<i
                                        class="fa fa-square-o"></i>{% endif %}</td>
                            <td>{% if event.start %}{{ event.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if event.end %}{{ event.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ event.abstract }}</td>
                            <td>
                                {% if event.enabled %}
                                    <i class="fa fa-check-square-o"></i>
                                {% else %}
                                    <i class="fa fa-square-o"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}
