{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Event'}, 'Event') }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jagueromezcalendar/css/jquery.ui.addresspicker.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset("assets/jquery-ui/themes/pepper-grinder/jquery-ui.min.css") }}" rel="stylesheet"
          type="text/css">
    <link href="{{ asset("assets/elfinder/dist/css/elfinder.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("assets/elfinder/dist/css/theme.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('admin_mezcalendar_event') }}"> {{ '%entity% list'|trans({'%entity%': 'Event'}, 'Event') }}</a>
            /
            {{ 'Event' | trans({}, 'Event') }}
        </h1>

    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-8">
                        {{ form_start(form, {
                            action: path('admin_mezcalendar_event_create'),
                            'attr': {'novalidate': 'novalidate'}
                        }) }}
                        {{ form_row(form.title) }}
                        <div class="form-group">
                            {{ form_label(form.image) }}
                            <div class="col-xs-5">
                                {{ form_widget(form.image) }}
                                {{ form_errors(form.image) }}
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-default" type="button" id="browser-trigger">
                                    <i class="fa fa-search"></i>
                                    Imagen
                                </button>
                            </div>
                        </div>

                        {{ form_row(form.start) }}
                        {{ form_row(form.end) }}
                        {{ form_row(form.allDay) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.apartment) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.state) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.postalCode) }}
                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}
                        {{ form_row(form.abstract) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.enabled) }}

                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">
                                    {{ 'save'|trans | capitalize }}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    <div class="col-sm-4">
                        <div id="map" style="width: 100%; height: 300px"></div>
                    </div>

                </div>
            </div>

            <div class="box-footer">
                <div class="btn-group record_actions"></div>
            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.google.com/maps/api/js?key={{ google_maps_api_key }}&sensor=false"></script>
    <script src="{{ asset('bundles/jagueromezcalendar/js/jquery.ui.addresspicker.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset("assets/jquery-ui/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("assets/elfinder/dist/js/elfinder.min.js") }}"></script>
    <script src="{{ asset("assets/elfinder/dist/js/i18n/elfinder.es.js") }}"></script>
    <script type="text/javascript">
        $('select').select2();
        $('#browser-trigger').click(function () {
            $('<div id="editor" />').dialogelfinder({
                url: '{{ path('ef_connect') }}',
                getFileCallback: function (file) {
                    $("#event_image").val(file.path);
                    $('#editor').dialogelfinder('close');
                }
            });
        });

    </script>
    <script>
        $(function () {
            var addresspickerMap = $("input.auto-address").addresspicker({
                regionBias: "ar",
                language: "es",
                updateCallback: showCallback,
                mapOptions: {
                    zoom: 4,
                    center: new google.maps.LatLng(46, 2),
                    scrollwheel: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                elements: {
                    map: "#map",
                    lat: "#event_latitude",
                    lng: "#event_longitude",
                    locality: '#event_city',
                    sublocality: '#sublocality',
                    administrative_area_level_1: '#event_state',
                    country: '#event_country',
                    postal_code: '#event_postalCode',
                    type: '#type'
                }
            });
            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");
            $('#reverseGeocode').change(function () {
                $("#addresspicker_map").addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
            });
            function showCallback(geocodeResult, parsedGeocodeResult) {
                $('#callback_result').text(JSON.stringify(parsedGeocodeResult, null, 4));
            }

            // Update zoom field
            var map = $("#addresspicker_map").addresspicker("map");
            google.maps.event.addListener(map, 'idle', function () {
                $('#zoom').val(map.getZoom());
            });
        });
    </script>

{% endblock %}