{% extends "FlowcodeDashboardBundle:Default:layout.html.twig" %}

{% block title %}Event - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('admin_mezcalendar_event') }}"> {{ 'Event list'|trans({'Event': 'Event'}, 'Event') }}</a>
            /
            {{ 'Event' | trans({}, 'Event') }}
        </h1>
    </section>
    <section class="content">
        <div class="box" id='showEvent'>
            <div class="box-header">
                <div class="box-tools  pull-right">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Event') }}</button>
                        <input name="modal" type="hidden" value="0">

                        <a class="btn btn-link  btn-sm" onclick="showEdit(true)">
                            {{ 'Edit'|trans({}, 'Event') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}

                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <tbody>
                    <tr>
                        <th scope="row">{{ 'Title'|trans({}, 'Event') }}</th>
                        <td>{{ event.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Slug'|trans({}, 'Event') }}</th>
                        <td>{{ event.slug }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Image'|trans({}, 'Event') }}</th>
                        <td>{{ event.image }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Allday'|trans({}, 'Event') }}</th>
                        <td>{% if event.allDay %}<i class="fa fa-check-square-o"></i>{% else %}<i
                                    class="fa fa-square-o"></i>{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Start'|trans({}, 'Event') }}</th>
                        <td>{{ event.start|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'End'|trans({}, 'Event') }}</th>
                        <td>{{ event.end|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Latitude'|trans({}, 'Event') }}</th>
                        <td>{{ event.latitude }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Longitude'|trans({}, 'Event') }}</th>
                        <td>{{ event.longitude }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Address'|trans({}, 'Event') }}</th>
                        <td>{{ event.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Content'|trans({}, 'Event') }}</th>
                        <td>{{ event.content }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ 'Enabled'|trans({}, 'Event') }}</th>
                        <td>{% if event.enabled %}<i class="fa fa-check-square-o"></i>{% else %}<i
                                    class="fa fa-square-o"></i>{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <div class="box" id='editFormEvent' style="display: none;">
            <div class="box-header">
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}
                    <div class="btn-group record_actions">
                        <button class="btn btn-link btn-sm" type="submit"> {{ 'Delete'|trans({}, 'Event') }}</button>
                        <a class="btn btn-link  btn-sm" onclick="showEdit(false)">
                            {{ 'Cancel'|trans({}, 'Account') }}
                        </a>
                    </div>
                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}
                </div>
            </div>
            <div class="box-body">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize }}</button>
                </p>
                {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
            </div>
        </div>
    </section>

    <div class="btn-group record_actions"></div>

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'Event') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'Event') }}
                        , {{ 'this procedure is irreversible'|trans({}, 'Event') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'Event') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Event') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'Event') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        function showEdit(show) {
            if (show) {
                $('#showEvent').hide();
                $('#editFormEvent').show();
            } else {
                $('#showEvent').show();
                $('#editFormEvent').hide();
            }
        }

    </script>
{% endblock %}