{% extends "AppBundle::frontend.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/jagueromezcalendar/css/fullcalendar.min.css') }}">
{% endblock %}

{% block body %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>{{ page.name }}</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="ion-ios-home"></i>
                                    Inicio
                                </a>
                            </li>
                            <li class="active">{{ page.name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div id="calendar"></div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/jagueromezcalendar/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/jagueromezcalendar/js/fullcalendar.min.js') }}"></script>

    <script>
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                events: '{{ path('mezcalendar_events') }}'
            })

        });
    </script>

{% endblock %}